*{
    font-family: fantasy;
    box-sizing: border-box;
    margin: 0;
}
header{ 
background-color: bisque;
}
form {
background-color : rgb(232,179,113);
color: orangered;
border-radius: 10px;
border: 3px 3px 2px 2px;
display: flex;
justify-content: center;
}
.enviar{
border-radius: 10px;
border: 5px solid gray;
box-shadow: 5px 5px 2px 2px;
background-color: bisque;
}


